<% if (questions.length < 3 || special.includes(id.toString())) { %>
<h1>Make your question! Make your memories!</h1>
<form
	action="/home/askme/admin/<%= token %>/profile/creatingquestionsession"
	method="post"
>
	<label for="question" class="form-label fs-5">Question:</label><br />
	<input
		class="form-control"
		type="text"
		id="question"
		name="question"
		required
	/><br />
	<button type="submit" class="btn btn-success">Done</button>
</form>
<% } else { %>
<h1>You have reached the maximum number of questions.</h1>
<% } %>
