<body>
    <div id="container">
      <h1>Make your question! Make sure its sopan!</h1>
      <form action="/home/askme/admin/<%= token %>/profile/creatingquestionsession" method="post">
        <label for="question">Question:</label><br>
        <input type="text" id="question" name="question"><br>
        <button type="submit">DONE</button>
      </form> 
    </div>
  </body>