<!--© 2022 Willis Rihatman, All rights reserved-->
<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="style.css" />
<meta name="viewport" content="width=device-width" />
<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
<title>AskMe |</title>
<link
  rel="icon"
  type="image/png"
  href="https://cdn.discordapp.com/attachments/785664503802232872/1055428572296257667/1671704165791.jpg"
/>

<meta content="Ask your friends to write question here." property="og:title" />
<meta
  content="A simple web for all of your friends question."
  property="og:description"
/>
<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<html>
  <% if (typeof maintenance !== 'undefined') { %> Server off <% } else { %> Hai
  Bg :) <% } %>
</html>
