<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"
		/>
		<meta name="og:title" content="AskMe Website" />
		<meta
			name="og:description"
			content="A website you can use to ask your friend anonymously or you can make your friends ask to you anonymously"
		/>
		<meta
			name="og:image"
			content="https://cdn.discordapp.com/attachments/785664503802232872/1055428572296257667/1671704165791.jpg"
		/>
		<title>
			<% if (locals.title) { %> <%= title %> <% } else { %> Invalid Question <%
			} %>
		</title>
		<link rel="stylesheet" type="text/css" href="/css/questionsinterface.css" />
		<link
			rel="icon"
			type="image/x-icon"
			href="https://cdn.discordapp.com/attachments/785664503802232872/1055428572296257667/1671704165791.jpg"
		/>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css?family=Montserrat:wght@600;700|Poppins&display=swap"
			rel="stylesheet"
		/>
		<link
			rel="icon"
			type="image/x-icon"
			href="https://cdn.discordapp.com/attachments/785664503802232872/1055428572296257667/1671704165791.jpg"
		/>
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
		/>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
			integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		/>
	</head>

	<body>
		<button
			class="backbtn"
			onclick="window.location.href = '/home/askme/admin'"
		>
			<i class="fa fa-sign-out" aria-hidden="true"></i>
			<h3>Back</h3>
		</button>
		<div class="selectbtn">
			<i class="icon fa-solid fa-list"></i>
			<select class="selector" id="selector" onchange="val()">
				<option selected value="purpleblack">Purple - Black</option>
				<option value="redblue">Red - Blue</option>
				<option value="greenaqua">Green - Aqua</option>
				<option value="blackwhite">Black - White</option>
				<option value="royalbluepeach">RBlue - Peach</option>
				<option value="bluepink">Blue - Pink</option>
				<option value="lgreeneblue">LGreen - EBlue</option>
				<option value="hpinkcyan">HPink - Cyan</option>
				<option value="skybluepeachpuff">Peach Puff</option>
			</select>
		</div>

		<div class="container">
			<% if (locals.thequestion) { %> <% if (thequestion.length >= 12) { %>
			<h3 class="title"><%= thequestion %></h3>
			<% } else { %>
			<h1 class="title"><%= thequestion %></h1>
			<% } %>
			<div class="question">
				<h2 class="text"><%= questions.question %></h2>
			</div>
			<% } else { %>
			<h1>This question isn't available anymore.</h1>
			<% } %>
		</div>
		<script>
			var elem = document;

			document.addEventListener(
				"keyup",
				(e) => {
					if (e.key === "Enter") {
						openFullscreen();
					}
				},
				false
			);

			function openFullscreen() {
				if (elem.requestFullscreen) {
					elem.requestFullscreen();
				} else if (elem.webkitRequestFullscreen) {
					/* Safari */
					elem.webkitRequestFullscreen();
				} else if (elem.msRequestFullscreen) {
					/* IE11 */
					elem.msRequestFullscreen();
				}
			}

			function val() {
				let value = document.getElementById("selector").value;
				if (value == "redblue") {
					document.body.style.background =
						"linear-gradient(to bottom right, red, blue)";
				} else if (value == "purpleblack") {
					document.body.style.background =
						"linear-gradient(to bottom right, rgb(115, 0, 255), rgb(0, 0, 0))";
				} else if (value == "greenaqua") {
					document.body.style.background =
						"linear-gradient(to bottom right, green, aqua)";
				} else if (value == "blackwhite") {
					document.body.style.background =
						"linear-gradient(to bottom right, black, white)";
				} else if (value == "royalbluepeach") {
					document.body.style.background =
						"linear-gradient(to bottom right, #00539CFF, #EEA47FFF)";
				} else if (value == "bluepink") {
					document.body.style.background =
						"linear-gradient(to bottom right, #2F3C7E, #FBEAEB)";
				} else if (value == "lgreeneblue") {
					document.body.style.background =
						"linear-gradient(to bottom right, #CCF381, #4831D4)";
				} else if (value == "hpinkcyan") {
					document.body.style.background =
						"linear-gradient(to bottom right, #FF69B4, #00FFFF)";
				} else if (value == "lgreeneblue") {
					document.body.style.background =
						"linear-gradient(to bottom right, #CCF381, #4831D4)";
				}else if (value == 'skybluepeachpuff') {
					document.body.style.background =
					"linear-gradient(to bottom right, #87CEEB, #FFDAB9)";
				}
			}
		</script>
	</body>
</html>
