<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />

<html></html>

<body>
  <div id="container">
    <h1><%= title %></h1>
    <hr class="line" />
    <form>
      <h2 class="text"><%= questions.question %></h2>
    </form>
  </div>
</body>

<!-- TODO bikin UI -->

<style>
  h1 {
    text-align: center;
  }
  html {
    background: linear-gradient(to bottom right, #1da1f2, #ffffff);
  }
  .text {
    text-align: center;
    background-color: transparent;
  }

  #container {
    text-align: center;
    border: 1px solid black;
    width: 45%;
    margin: 200px auto 0;
    padding: 20px;
    border-radius: 50px;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
  }

  #container h1 {
    background-color: linear-gradient(to bottom right, #1da1f2, #ffffff);
  }

  @media (max-width: 768px) {
    h1 {
      font-size: 30px;
    }

    #container {
      text-align: center;
      border: 1px solid black;
      width: 60%;
      margin: 200px auto 0;
      padding: 20px;
      border-radius: 50px;
      background-color: white;
      font-family: Arial, Helvetica, sans-serif;
    }

    .text {
      font-family: "Times New Roman", Times, serif;
      font-size: 20px;
    }
  }

  .line {
    border: 1px solid #ddd;
  }
</style>
