<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
</head>
<body>
    <form action="/home/askme/admin/signupatt" method="post">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <br>
        <input type="submit" value="Register">
    </form>
</body>
</html>