<html>
    <h1>Terimakasih sudah mengirim pertanyaan mu! :)</h1>
    <h2 id="authorname" class="authorname">${authorname}</h2>
</html>

<style>
    * {
        text-align: center;
        font-size: 30px;
    }

    h1 {
        margin-top: 250px;
    }
</style>